<h1>FoundPets#index</h1>
<p>Find me in app/views/found_pets/index.html.erb</p>

<h2>Recently Found Pets</h2>
<%#= @pets %>

<%#= @pets.first %>


<table class="table table-striped table-bordered">
    <tr>
      <th>Found At</th>
      <th>Found Date</th>
      <th>Breed</th>
      <th>Appearance</th>
      <th>Sex</th>
      <th>Age</th>
      <th>More Info</th>
    </tr>
  <% @pets.each do |pet| %>

    <%#= image_tag pet.url %>
    <%# pet = pet.to_h %>

    <tr>
      <td><%= format_address(pet.location.human_address) %></td>
      <td><%= pet.intake_date %></td>
      <td><%= pet.looks_like %></td>
      <td><%= pet.color %></td>
      <td><%= pet.sex %></td>
      <td><%= pet.age %></td>
      <td><%= link_to 'picture', pet.image.url %></td>
    </tr>
  <% end %>

</table>

<%= will_paginate @pets %>
<br>
<%= page_entries_info @pets %>