<div class="row found-pets">
<h2>Recently Found Pets</h2>
  <%#= @pets %>
  
  <%#= @pets.first %>
  
  <%#= form_tag, found_pets_path method: 'get' do %>
    <%#= select_tag :filter, options_for_select(@select_options) %>
  <%# end %>
  
  <p>Filter By:</p>
  <div class="filter-options">
    <%= link_to "Dogs", found_pets_path(filter: :dogs) %>
    <%= link_to "Cats", found_pets_path(filter: :cats)  %>
    <%= link_to "All", found_pets_path %>
  </div>
  
  
  <table class="table table-striped table-bordered">
      <tr>
        <th>Type</th>
        <th>Breed</th>
        <th>Found At</th>
        <th>Found Date</th>
        <th>Appearance</th>
        <th>Sex</th>
        <th>Age</th>
        <th>More Info</th>
      </tr>
    <% @pets.each do |pet| %>
  
      <%#= image_tag pet.url %>
      <%# pet = pet.to_h %>
  
      <tr>
        <td><%= pet.type %></td>
        <td><%= pet.looks_like %></td>
        <td><%= format_address(pet.location.human_address) %></td>
        <td><%= l(pet.intake_date.to_time, format: :M_d_timestamp) %></td>
        <td><%= pet.color %></td>
        <td><%= pet.sex %></td>
        <td><%= pet.age %></td>
        <td><%= link_to 'Closer Look', found_pet_path(id: pet.animal_id) %></td>
      </tr>
  
    <% end %>
  
  </table>
  
  
  <%= will_paginate @pets, :previous_label => '', :next_label => ''%>
  
  <br>
  <%= page_entries_info @pets %>
</div>